* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #f2eae2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  margin-top: 10%;
}
.img-section {
  background-image: url(/images/image-product-mobile.jpg);
  max-width: 343px;
  max-height: 240px;
  aspect-ratio: 343/240;
  background-size: cover;
}
span {
  color: #6c7289;
}
h1 {
  padding-block: 0.5em;
}

main {
  margin: 0 auto;
  max-width: 343px;
  min-height: 611px;
  border-radius: 1em;
  overflow: hidden;
  background-color: white;
}

header,
.description,
.store {
  padding-block: 1em;
  padding-inline: 1em;
}
.description {
  padding-block: 0;
  color: #6c7289;
}
.price {
  display: flex;
  align-items: center;
}
.Price-now {
  color: #3d8168;
  font-size: 2rem;
  margin-right: 1.5em;
}

.button-placement {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
button {
  margin-block: 3em;
  padding: 1em 8em 1em 8em;
  max-width: 343px;
  border-radius: 1em;
  background: #3d8168;
  color: white;
  border: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
}
button span {
  margin-left: 1em;
  color: white;
}
button:hover {
  background-color: #1f4235;
}
.attribution {
  padding-block: 1em;
}

@media screen and (min-width: 600px) {
  body {
    position: relative;
    margin-top: 30%;
    padding-bottom: 30%;
  }
  main {
    all: unset;
    max-width: 600px;
    min-height: 450px;
    border-radius: 1em;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: row;
    position: absolute;
  }
  header {
    display: flex;
    flex-direction: column;
  }

  .img-section {
    all: unset;
    background-image: url(/images/image-product-desktop.jpg);
    width: 300px;
    min-height: 450px;
    background-size: cover;
    aspect-ratio: 450/300;
  }
  button {
    margin-block: 3em;
    padding: 1.5em 5em 1.5em 5em;
    max-width: 343px;
    border-radius: 1em;
    background: #3d8168;
    color: white;
    border: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  p {
    padding-block: 0.5em;
  }
  h1 {
    font-size: 2.3rem;
    padding-block: 0.2em;
  }
  .attribution {
    z-index: 1;
    position: absolute;
    bottom: 0;
  }
}
